.ProductsPage {
    justify-content: center;
    align-items: center;
    padding: 40px;
    max-width: 100%;
    margin: auto;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 90px;
}

.little-message {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0;
    top: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 35px;
}

.little-message h4 {
    font-size: 0.8em;
}

.products-cards {
    padding-top: 20px;
    margin: auto;
}

.product-new-button {
    padding: 10px 20px;
    font-family: "Helvetica", "sans-serif";
    font-size: 18px;
    background-color: transparent;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.product-new-button:hover {
    background-color: #2c2c2c;
    color: #fff;
}

.product-new-button i {
    transition: transform 0.3s ease;
}

.product-new-button:hover i {
    transform: rotate(90deg);
}