.ProductsPage {
    justify-content: center;
    align-items: center;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.products-title {
    text-align: center;
    font-family: "Instrument Serif", serif;
    font-weight: 500;
}

.separator-products {
    width: 15%;
    height: 4px;
    margin: 20px auto;
    background-color: #000;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-new-button {
    padding: 10px 20px;
    font-family: "PT Sans", Sans-serif;
    font-style: italic;
    font-size: 18px;
    background-color: transparent;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-new-button:hover {
    background-color: #2c2c2c;
    color: #fff;
}

.create-modal {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.dark-modal .modal-header {
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    padding-top: 30px;
}

.dark-modal .modal-title {
    margin-left: 20px;
    color: #dadada;
}

.dark-modal .modal-body {
    background-color: #2b2b2b;
}

.dark-modal .modal-dialog {
    max-width: 60%;
}

.custom-button {
    background: none;
    border: none;
    color: #dadada;
    font-size: 1.5em;
    margin-right: 10px;
}

.custom-button:hover {
    color: #FF5733;
    background: none;
    border: none;
}