.AddProductForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.AddProductForm .form-container {
    background-color: rgb(65, 65, 65);
    padding: 20px;
    border-radius: 10px;
    color: rgb(224, 224, 224);
}

.AddProductForm .form-container input {
    background-color: #323232;
    color: white;
    border: none;
}

.form-container .form-control:focus {
    background-color: #323232;
    color: #ffffff;
    border-color: #FF5733;
    box-shadow: 0 0 0 0.1em #FF5733;
}