.LoginForm {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-top: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.LoginForm h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.LoginForm Form {
    display: flex;
    flex-direction: column;
}

.LoginForm Form.Group {
    margin-bottom: 20px;
}

.LoginForm Form.Label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.LoginForm Form.Control {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.LoginForm .form-control:focus {
    border-color: #FF5733;
    box-shadow: 0 0 0 0.1rem #FF5733;
}

.LoginForm Button {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

.LoginForm Button:hover {
    background-color: #FF5733;
}

@media (max-width: 768px) {
    .LoginForm {
        max-width: 90%;
        margin: 30px auto;
    }
}