  .about-container {
      width: 300px;
      margin-left: 75vw;
  }

  .about-container2 {
      margin: auto;
      width: 300px;
      margin-right: 75vw;
      margin-top: -37vh;
      text-align: right;
      padding-bottom: 100px;
  }

  .about-title {
      margin-top: 10vh;
      text-align: center;
      font-family: "Instrument Serif", serif;
      font-weight: 400;
      font-variation-settings: normal;
  }

  .about-title h1 {
      font-size: 6em;
  }

  .AboutPage .little-message2 {
      margin-top: -15vh;
  }

  .AboutPage .little-message1 {
      margin-top: -2vh;
  }

  @media (max-width: 991.98px) {
      .about-container {
          width: 200px;
          margin-left: 10vw;
          margin-top: 20vh;
          text-align: right;
      }

      .about-container2 {
          width: 200px;
          margin-right: 10vw;
          margin-top: -40vh;
          text-align: left;
          padding-bottom: 100px;
      }
  }

  @media (max-width: 575.98px) {


      .little-message1 h4,
      .little-message2 h4 {
          font-size: 0.7em;
      }

      .about-container {
          width: 200px;
          margin-left: 40vw;
          margin-top: 20vh;
          text-align: right;
      }

      .about-container2 {
          width: 200px;
          margin-right: 40vw;
          margin-top: -0vh;
          text-align: left;
          padding-bottom: 100px;
      }
  }