.discount-form-container {
    margin-top: 8px;
}

.discount-form {
    max-width: 500px;
    padding: 20px;
}

.DiscountForm .me-auto {
    color: #FF5733;
}

.discount-form div {
    margin-bottom: 15px;
}

.discount-form {
    max-width: 500px;
    padding: 20px;
}

.discount-form div {
    margin-bottom: 15px;
}

.discount-form label {
    display: block;
    margin-bottom: 5px;
}

.discount-form input,
.discount-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.discount-form textarea {
    height: 100px;
}

.submit-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #FF5733;
}

.custom-toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

}