header {

    background-color: #F5F4F0;
}

header .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #logo {
    margin-top: -10px;
    max-width: 150px;
    display: flex;
    align-items: center;
}

header #logo img {
    max-width: 100%;
    height: auto;
}

.header-right {
    margin-top: -10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right .search-btn-outer,
.header-right .cart-content {
    display: inline-block;
}

.header-right .fa-cart-shopping {
    cursor: pointer;
    font-size: .7em;
    color: #333;
    transition: color 0.3s;
}

.header-right .fa-search {
    cursor: pointer;
    font-size: .7em;
    color: #333;
    transition: color 0.3s;
}

.header-right .fa-search:hover,
.header-right .fa-cart-shopping:hover {
    color: #FF5733;
}

.header-right .cart-content button {
    top: -3px;
    position: relative;
    background: none;
    border: none;
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: color 0.3s;
}

.header-right .cart-content button:hover {
    color: #FF5733;
}

.header-right .cart-content span {
    position: absolute;
    top: -2px;
    right: -10px;
    background-color: #FF5733;
    color: #fff;
    font-size: 0.5em;
    padding: .5px 4px;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header-right .global-form {
    margin-top: -300px;
}

.container .menu-button {
    background: none;
    color: black;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: -12px;

}

.container .menu-button:hover {
    background: none;
    color: #FF5733;
    border: none;
}


@media (max-width: 768px) {

    .header-right {
        gap: 10px;
    }
}