header {
    font-family: Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 1000;
}

.container {
    padding: 0;
    margin: 0;
    width: 100%;
}

header .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

header #logo {
    margin-left: 45px;
    margin-top: 30px;
    max-width: 100px;
    display: flex;
    align-items: center;

}

header #logo img {
    max-width: 230%;
    height: auto;

}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    margin-right: 5px;
    padding: 0;
    position: absolute;
    right: 30px;
}

.header-right .search-btn-outer,
.header-right .cart-content,
.header-right .wishlist-content,
.header-right .user-content {
    display: inline-block;
}

.header-right .cart-content button {
    margin-right: 5px;
    position: relative;
    background: none;
    border: none;
    font-size: 1.1em;
    color: #212121;
    cursor: pointer;
    outline: none;
    transition: color 0.3s;
    margin-top: 2px;
}

.header-right .cart-content button:hover {
    color: #FF5733;
}

.header-right .cart-content span {
    position: absolute;
    top: -2px;
    right: -10px;
    background-color: #FF5733;
    color: #fff;
    font-size: 0.6em;
    border-radius: 50%;
    min-width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header-right .wishlist-content button {
    border: none;
    outline: none;
    background: none;
    font-size: 1.1em;
    transition: color 0.3s;
    margin-top: 2px;
}

.header-right .wishlist-content button:hover {
    color: #FF5733;
}

.header-right .user-content button {
    border: none;
    outline: none;
    background: none;
    font-size: 1.1em;
    transition: color 0.3s;
    margin-top: 2px;
}

.header-right .user-content button:hover {
    color: #FF5733;
}

.container .menu-button {
    background: none;
    color: #212121;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: -12px;
    display: block;
    margin-top: 2px;
}

.container .menu-button:hover {
    background: none;
    color: #FF5733;
    border: none;
}

.mobile-menu-button {
    background: none;
    border: none;
    color: #212121;
    font-size: 1.6em;
    display: none;
    position: relative;
    right: 9px;
    margin-top: 4px;
}

.mobile-menu-button:hover {
    background: none;
    color: #FF5733;
    border: none;
}

.mobile-menu-button:focus,
.mobile-menu-button:active {
    background: none;
    outline: none;
    color: #FF5733;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0s linear 0.5s;
}

.menu-container.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease, visibility 0s linear 0s;
}

.menu {
    flex-direction: column;
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    text-align: center;
    color: #ebebeb;
}

.close-button-container {
    position: absolute;
    top: 42px;
    right: 60px;
    font-size: 1.1em;
    display: block;
}

.close-button {
    color: #ebebeb;
    background: none;
    border: none;
    transition: color 0.3s;
}

.close-button:hover {
    color: #FF5733;
}

.mobile-close-button-container {
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
}

.mobile-close-button {
    font-size: 2em;
    transition: color 0.3s;
}

.mobile-close-button:hover {
    color: #FF5733;
}

.menu-links a {
    text-decoration: none;
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.menu-links li {
    font-family: Helvetica, sans-serif;
    list-style: none;
    color: #ebebeb;
    font-size: 6em;
    font-weight: bold;
    margin: 10px 0;
    transition: color 0.3s;
}

.menu-links li:hover {
    color: #FF5733;
}

.logo-menu {
    position: absolute;
    left: 45px;
    top: 30px;
}

.logo-menu img {
    width: 230px;
    height: auto;
}

.menu-footer {
    color: #ebebeb;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900;
}

.menu-footer p {
    margin-top: 30px;
    font-size: 1em;
    user-select: none;
}

.menu-footer .social-icons {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.menu-footer .social-icons a {
    color: #ebebeb;
    font-size: 1.5em;
    transition: color 0.3s;
}

.menu-footer .social-icons a:hover {
    color: #FF5733;
}

@media (max-width: 991.98px) {

    .header-right .cart-content button,
    .header-right .wishlist-content button,
    .header-right .user-content button {
        font-size: 1.4em;
    }

    .container .menu-button {
        font-size: 1.7em;
    }

    .close-button-container {
        top: 38px;
        right: 60px;
    }

    .close-button {
        font-size: 1.3em;
    }

    .menu-links li {
        font-size: 3.5em;
    }
}

@media (max-width: 575.98px) {

    header #logo {
        margin-left: 30px;
    }

    header #logo img {
        max-width: 150px;
        height: auto;
    }

    .header-right {
        margin-right: -20px;
    }

    .header-right .cart-content button {
        font-size: 1.4em;
    }

    .header-right .wishlist-content button {
        font-size: 1.4em;
    }

    .header-right .user-content button {
        font-size: 1.4em;
    }

    .container .menu-button {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }

    .close-button-container {
        top: 30px;
        right: 25px;
        display: none;
    }

    .mobile-close-button-container {

        display: block;
    }

    .logo-menu {
        left: 30px;
    }

    .logo-menu img {
        width: 150px;
        height: auto;
    }

    .menu-links li {
        font-size: 2em;
    }

    .menu-footer {
        padding: 0 20px;
    }

}