.products {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.gallery {
    display: flex;
    transition: opacity 1s ease-in-out;
}

.gallery-image {
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-image.fade-in {
    opacity: 1;
}