.FooterContainer {
    background: linear-gradient(to top, #F5F4F0 60%, transparent 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900;
}

footer {
    color: #232323;
    display: flex;
}

.FooterContainer p {
    margin-top: 30px;
    font-size: 1em;
    user-select: none;
}

footer .social-icons {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

footer .social-icons a {
    color: #232323;
    font-size: 1.5em;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #FF5733;
}

@media (max-width: 575.98px) {

    .FooterContainer {
        padding: 0 20px;
    }

}