footer {
    background-color: #FF5733;
    color: #fff;
    padding: 40px 0;
    display: flex;
}

/* Social icons */
footer .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

footer .social-icons a {
    color: #ddd;
    font-size: 1.5em;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 0.8em;
    color: #ddd;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}

@media (max-width: 768px) {
    footer .footer-container {
        flex-direction: column;
        text-align: center;
    }

    footer .footer-section {
        padding: 10px 0;
    }
}