.EditProductForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.EditProductForm .form-container {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    color: rgb(224, 224, 224);
}

.EditProductForm .form-container input,
.EditProductForm .form-container select,
.EditProductForm .form-container textarea {
    background-color: #282727;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.EditProductForm .form-container input::placeholder,
.EditProductForm .form-container textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.EditProductForm .form-control:focus {
    background-color: #282727;
    color: #ffffff;
    border-color: #FF5733;
    box-shadow: 0 0 0 0.1em #FF5733;
}

.EditProductForm .custom-button {
    background-color: #000000;
    color: white;
}

.EditProductForm .custom-button:hover {
    background-color: #FF5733;
    color: white;
}

.edit-form-button {
    background-color: #000000;
    color: white;
    border: none;
}

.edit-form-button i {
    background-color: transparent;
}

.edit-form-button:hover {
    background-color: #FF5733;
    color: white;
}

.form-check {
    display: flex;
    align-items: center;
    margin-left: -7px;
    margin-top: 15px;
    gap: 10px;
    margin-bottom: 10px;
    font-size: .8em;
}

.form-check input[type="checkbox"] {
    background-color: #2d2c2c;
    border: 2px solid #2d2c2c;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-check input[type="checkbox"]:checked {
    background-color: #FF5733;
    border-color: #FF5733;
    box-shadow: 0 0 0 0.1em #FF5733;
}

.form-check input[type="checkbox"]:hover {
    border-color: #FF5733;
}

.form-check input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
}

.EditProductForm .add-button,
.EditProductForm .remove-button {
    margin-top: 15px;
    background-color: black;
    color: white;
    border: none;
}

.EditProductForm .add-button:hover,
.EditProductForm .remove-button:hover {
    transition: background-color 0.3s;
    background-color: #101010;
    color: white;
    border: none;
}

.EditProductForm .btn-secondary {
    background-color: #000000;
    color: white;
    border: none;
}

.EditProductForm .btn-secondary:hover {
    background-color: #FF5733;
    color: white;
}

.EditProductForm .form-container label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
}

.EditProductForm .form-container input,
.EditProductForm .form-container select,
.EditProductForm .form-container textarea {
    margin-bottom: 15px;
}