@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

body {
    font-family: Helvetica, sans-serif;
    color: #212121;
    background-color: #F5F4F0;
}

.welcome-img {
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-img img {
    width: auto;
    height: 105vh;
}


.little-message1 {
    position: relative;
    top: 9vh;
    width: 100%;
    text-align: center;
}

.little-message2 {
    position: relative;
    top: 19vh;
    width: 100%;
    text-align: center;
}

.little-message1 h4,
.little-message2 h4,
.little-message3 h4,
.little-message4 h4 {
    font-size: 0.8em;
}

.homepage-header {
    position: relative;
    width: 70%;
    top: 43vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px 20px;
    font-family: "Instrument Serif", serif;
}

.homepage-header h1 {
    font-size: 6em;
    font-weight: 500;
}

.little-message3 {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    top: 35vh;
    width: 100%;
    text-align: center;
}

.products {
    position: relative;
    top: 38vh;
    text-align: center;
}

.products ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 6em;
    font-family: "Instrument Serif", serif;
}

.products li {
    text-decoration: none;
}

.little-message4 {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    top: 50vh;
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
}

@media (max-width: 575.98px) {

    .homepage-header {
        width: 100%;
        top: 43vh;
    }

    .homepage-header h1 {
        font-size: 4em;
    }

    .little-message1 h4,
    .little-message2 h4,
    .little-message3 h4,
    .little-message4 h4 {
        font-size: 0.7em;
    }

    .little-message3 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .little-message4 {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 90px;
    }

    .products ul {
        font-size: 4em;
    }
}